<a href="https://colab.research.google.com/github/Aarushi900/MiniProject_Subset_Selection/blob/main/Subset_Selector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Finding all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 5

Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

Libraries Used

In [12]:
import random as r

Parameter Settings

In [14]:
Set=set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize=5
Iterations=1500
ResultList=set()

Program for choosing the sets and checking their sum

In [15]:
for i in range(Iterations):
  SampleSet = r.sample(Set,SetSize)
  if(sum(SampleSet)==0):
    ResultList.add(tuple(SampleSet))

<ipython-input-15-b2ca89e4ed82>:2: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  SampleSet = r.sample(Set,SetSize)

Printing the results

In [16]:
for i in ResultList:
  print(i)
print(f"The total number of sets in this are: {len(ResultList)}")

(11, 3, 1, -8, -7)
(11, 3, -8, -2, -4)
(-6, -8, 6, 1, 7)
(-4, 1, -2, -6, 11)
(7, -9, -3, 9, -4)
(-12, 7, -4, -2, 11)
(-2, -5, -6, 7, 6)
(-5, 9, -2, -4, 2)
(2, 6, -12, 9, -5)
(7, -12, -6, 2, 9)
(-4, -5, -3, 11, 1)
(3, -6, 11, -5, -3)
(11, 3, -8, -4, -2)
(-4, 3, -2, 2, 1)
(-5, 1, 9, 7, -12)
(-12, 7, 9, 3, -7)
(-2, 1, 6, -8, 3)
(-4, -2, 1, 3, 2)
(-2, 7, -7, 11, -9)
(-6, -8, 11, 6, -3)
(-4, -3, -6, 2, 11)
(-7, 1, 3, -4, 7)
(9, -9, 6, -8, 2)
(-2, 7, 6, -4, -7)
(-4, -5, 7, 9, -7)
(-3, -12, 2, 6, 7)
(9, -9, -4, 7, -3)
(-4, 6, -2, 3, -3)
(1, -7, 11, 3, -8)
(-9, -6, -2, 6, 11)
(2, 11, -5, -2, -6)
(2, 3, 1, -2, -4)
(-9, 2, 6, 7, -6)
(-3, -6, -5, 11, 3)
(-3, 6, -9, -5, 11)
(-12, 11, -8, 3, 6)
(6, -4, 9, -12, 1)
(-8, 7, -12, 2, 11)
(9, -2, 7, -8, -6)
(-2, 9, -6, 3, -4)
(-4, 11, 1, -5, -3)
(-7, -5, 9, 7, -4)
(1, 2, 7, -7, -3)
(6, -7, -5, 9, -3)
(-12, 7, -6, 9, 2)
(1, 3, 9, -7, -6)
The total number of sets in this are: 46

The same program but including sorting

In [17]:
#-------------------------------------------------------------
# Step 1: Library inclusion                             
#-------------------------------------------------------------
import random as r


#-------------------------------------------------------------
# Step 2: Parameter Setting
#-------------------------------------------------------------
Set         = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize     = 5
ResultList  = set()    # Store Result List i.e. list of sets whose sum is zero
Iterations  = 1000   # Number of Inerations


#-------------------------------------------------------------
# Step3: Start Program
#-------------------------------------------------------------

# Loop till number of Iterations
for i in range(Iterations):
    # Select number of elements from Set
    SampleSet = r.sample(Set,SetSize)
    SampleSet.sort()

    # Sum the number of elements in the Chromosome
    if sum(SampleSet) == 0:
        ResultList.add(tuple(SampleSet))

# Print all the sets whose sum is zero
for r in ResultList:
	print (r)

# Print total sets
print ("\nTotal Sets: ", len(ResultList))

(-7, -4, -2, 6, 7)
(-9, -3, 2, 3, 7)
(-8, -6, -4, 7, 11)
(-7, -4, -3, 3, 11)
(-9, -2, 1, 3, 7)
(-7, -3, 1, 3, 6)
(-9, -7, 2, 3, 11)
(-12, -5, 1, 7, 9)
(-12, -3, -2, 6, 11)
(-7, -4, 1, 3, 7)
(-7, -5, -2, 3, 11)
(-12, 1, 2, 3, 6)
(-6, -3, 1, 2, 6)
(-6, -4, -2, 3, 9)
(-8, -4, 2, 3, 7)
(-8, -2, 1, 2, 7)
(-8, -7, -5, 9, 11)
(-9, -5, 1, 6, 7)
(-6, -5, -4, 6, 9)
(-8, -3, 2, 3, 6)
(-5, -4, -3, 3, 9)
(-9, -6, 2, 6, 7)
(-7, -5, -4, 7, 9)
(-6, -4, -2, 1, 11)
(-9, -4, 1, 3, 9)
(-12, -7, 1, 7, 11)
(-8, -7, 2, 6, 7)

Total Sets:  27

<ipython-input-17-fb626ced5d62>:23: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  SampleSet = r.sample(Set,SetSize)

# Situation 2
Finding all the subsets from a set of numbers whose sum is zero.

**Constraint: Subset size must be 3 to 6 only**

Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

Libraries Used

In [18]:
import random as r

Parameter settings

In [19]:
Set=set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize_LL=3
SetSize_UL=6
Iterations=1500
ResultList=set()

Program to find set and calculate its sum to check if it is zero

In [21]:
for i in range(Iterations):
  SetSize=r.randint(SetSize_LL,SetSize_UL)
  RandomSet=r.sample(Set,SetSize)
  if sum(RandomSet)==0:
    ResultList.add(tuple(RandomSet))

<ipython-input-21-67aa1a847e6e>:3: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  RandomSet=r.sample(Set,SetSize)

Printing the sets and the total  number of sets found

In [23]:
for i in ResultList:
  print(i)
print(f"The total number of sets are: {len(ResultList)}")

(-2, 2, 1, 6, -7)
(1, -8, 7)
(-4, 7, 3, -9, -6, 9)
(-7, -8, 9, 6)
(-5, 3, 1, -4, -2, 7)
(-8, 7, 6, -7, 2)
(2, -4, 11, -9)
(7, -7, -9, 9)
(11, 6, 1, -9, 3, -12)
(-4, -5, 11, 3, 1, -6)
(11, 6, -6, -9, -5, 3)
(9, 1, 3, -9, -4)
(9, -12, 7, 3, -7)
(-12, 9, 11, -8)
(-2, -9, 11)
(-3, -6, 7, 2)
(-12, 1, 11)
(-2, 1, -6, 7)
(-12, -5, 11, 6)
(7, 1, -2, 6, -9, -3)
(9, -7, 11, -2, -5, -6)
(-3, -6, 1, 2, 6)
(-9, 7, -7, 9)
(9, -4, -3, 3, -12, 7)
(-2, -3, 1, 11, -7)
(-6, 1, 3, 11, -9)
(-2, -4, 1, 3, 2)
(9, -2, -3, -4)
(9, -7, -2)
(3, 6, 2, -12, 7, -6)
(1, 2, -3)
(-4, -8, 6, 2, -3, 7)
(3, 2, 6, -3, -8)
(2, 7, -2, -7)
(1, 9, -12, 3, -3, 2)
(11, -6, -5, -2, 2)
(6, 2, -8)
(3, -12, 9)
(6, -6, 9, -7, -2)
(7, 1, -8, -2, 2)
(-3, 11, -8)
(2, -5, 3)
(11, 6, -2, 1, -9, -7)
The total number of sets are: 43